<% @letters.each do |letter| %>
  <tr>
  <td valign="top"><a target = "letter" href="/show_letter?id=<%= letter.id%>&session_key=<%= @mailbox.session.session_key%>&address=<%= @mailbox.address%>"><%= letter.subject %></a></td>
  <td valign="top"><%= letter.from %></td>
  <td valign="top"><%= letter.written_at %></td>
  </tr>
<% end %>
