<script language = "javascript">
parent.window.previous_mailbox_address = "<%= @previous_mailbox_address %>";
parent.window.next_mailbox_address = "<%= @next_mailbox_address %>";
</script>

<table border=5 width="100%" class="mailbox_table">

<td height = "100%"  width="40%" valign="top">
<div id="tableContainer" class="tableContainer">
<table width = "100%">
<thead align = "left" >
<tr>
<th>Subject</th>
<th>From</th>
<th>Date</th>
</tr>
</thead>
<tbody> 
<% @letters.each do |letter| %>
  <tr>
  <td valign="top"><a target = "letter" href="/show_letter?id=<%= letter.id%>&session_key=<%= @session_key%>&address=<%= @mailbox.address%>"><%= letter.subject %></a></td>
  <td valign="top"><%= letter.from %></td>
  <td valign="top"><%= letter.written_at %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
</td>
<td valign="top" height="100%">
<iframe id="current_letter" width="100%" height="100%" name="letter" frameBorder="0" scrolling=yes src=""></iframe>
</td>
</table>
