<table border=5 width="100%" class="mailbox_table">

<td width="40%" height = "100%" valign="top"><div style="overflow-y:auto;" height = "100%">
<table>
<tr>
<th>Subject</th>
<th>From</th>
<th>Date</th>
</tr>
<% @letters.each do |letter| %>
  <tr>
  <td valign="top"><a target = "letter" href="/show_letter?id=<%= letter.id%>&session_key=<%= @session_key%>&address=<%= @mailbox.address%>"><%= letter.subject %></a></td>
  <td valign="top"><%= letter.from %></td>
  <td valign="top"><%= letter.written_at %></td>
  </tr>
<% end %>
</tr>
</table>
</td></div>
<td valign="top" height="100%">
<iframe id="current_letter" width="100%" height="100%" name="letter" frameBorder="0" scrolling=yes src=""></iframe>
</td>
</table>
