<script language = "javascript">
parent.window.previous_mailbox_address = "<%= @mailbox.previous_mailbox_address %>";
parent.window.next_mailbox_address = "<%= @mailbox.next_mailbox_address %>";
parent.window.current_mailbox_address = "<%= @mailbox.address %>";
parent.document.getElementById("number_of_letters").innerHTML = "<%= @mailbox.letters.count %>";
var notify_stream = new EventSource('/listen_to_mailbox?session_key=<%= @mailbox.session.session_key%>&address=<%= @mailbox.address%>');
notify_stream.onmessage = function (message) {
   notify_stream.close();
   parent.document.getElementById("current_mailbox").src = "/show_mailbox?session_key=<%= @mailbox.session.session_key%>&address=<%= @mailbox.address%>";
};
</script>

<table border=5 width="100%" class="mailbox_table">

<td height = "100%"  width="40%" valign="top">
<div id="tableContainer" class="tableContainer">
<table width = "100%">
<thead align = "left" >
<tr>
<th>Subject</th>
<th>From</th>
<th>Date</th>
</tr>
</thead>
<tbody> 
<% @letters.each do |letter| %>
  <tr>
  <td valign="top"><a target = "letter" href="/show_letter?id=<%= letter.id%>&session_key=<%= @mailbox.session.session_key%>&address=<%= @mailbox.address%>"><%= letter.subject || 'no subject' %></a></td>
  <td valign="top"><%= letter.from %></td>
  <td valign="top"><%= letter.written_at %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
</td>
<td valign="top" height="100%">
<iframe id="current_letter" width="100%" height="100%" name="letter" frameBorder="0" scrolling=yes src=""></iframe>
</td>
</table>
