<table border=0 width="100%" height="95%" class="session_table">
<tr height="10%">
<td align = "left" width = "40%" >
<h1 id="current_mailbox_address"><%= @newest_mailbox.address %></h1>
<p>Number of letters: <span id="number_of_letters"><%= @newest_mailbox.letters.count %></span></p>
</td>
<td></td>
<td align = "right" width = "130px"><img onclick = 'if (window.previous_mailbox_address){  document.getElementById("current_mailbox").src=("/show_mailbox?address=" + window.previous_mailbox_address + "&session_key=<%= @session_key %>"); document.getElementById("current_mailbox_address").innerHTML = window.previous_mailbox_address;}' src="static/left.png"></td>
<td align = "right" width = "130px"><img onclick = 'if (window.next_mailbox_address){document.getElementById("current_mailbox").src=("/show_mailbox?address=" + window.next_mailbox_address + "&session_key=<%= @session_key %>"); document.getElementById("current_mailbox_address").innerHTML = window.next_mailbox_address;}' src="static/right.png"></td>
<td align = "right" width = "130px"><img onclick = 'document.getElementById("current_mailbox").src = "/empty_mailbox?session_key=<%= @session_key %>&address=" + window.current_mailbox_address' src="static/shred.png"></td>
<td align = "right" width = "130px"><img onclick = 'document.getElementById("current_mailbox").src = "/show_mailbox?session_key=<%= @session_key %>&address=" + window.current_mailbox_address' src="static/refresh.png"></td>
<td align = "right" width = "130px"><a href="/new_mailbox?session_key=<%= @session_key %>"><img src="static/mailbox.png"></td>
</tr>

<tr vallign="top"><td colspan="7" height="85%">
<iframe width="100%" height="100%" scrolling=no id="current_mailbox" name="mailbox" frameBorder="0" src="/show_mailbox?session_key=<%= @session_key %>&address=<%= @newest_mailbox.address %>"></iframe>
</td></tr>
</table>
<center><small><a href="https://bitbucket.org/naushniki/qamail">QA Mail on Bitbucket</a></small></center>
